<form [formGroup]="form" (ngSubmit)="startGame()">
<h1 mat-dialog-title>Memory Card Game</h1>
<div mat-dialog-content>
  <p>Enter player names and start the fun!</p>
  <mat-form-field appearance="outline" class="mr-5">
    <mat-label>Player 1 - Name</mat-label>
    <input matInput placeholder="Enter a nick name" formControlName="player1" required required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error>
      Please provide a valid username
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Player 2 - Name</mat-label>
    <input matInput placeholder="Enter a nick name" formControlName="player2" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error>
      Please provide a valid username
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" class="btn btn-primary start-btn">Start game</button>
</div>
</form>
